<div class="container">
  <div class="well text-center" id="node-head"> 
    <div class="row">
      <div class="col-md-2">
        <a href="/">
          <h1 id="node-title">
            <strong>
              NODES
            </strong>
          </h1>
        </a>  
      </div>
      <div class="col-md-6 col-md-offset-1 addForm text-center">
        <%= form_for @node, class: "form-inline", id: "newNodeForm" do |f| %>
          <div class="form-group">
            <%= f.label :title, class: "sr-only" %>
            <%= f.text_field :title, class: "form-control", id: "title", placeholder: "title" %>
          </div>
          <div class="form-group">
            <%= f.label :content, class: "sr-only" %>
            <%= f.text_field :content, class: "form-control", id: "content", placeholder: "content" %>
          </div>
          <div class="form-group">
            <%= f.label :node_type, class: "sr-only" %>
            <%= f.text_field :node_type, class: "form-control", id: "node_type", placeholder: "node_type" %>
          </div>
          <%= f.submit "+", class: "btn btn-default", id: "add" %>
        <% end %>
        <!-- <form class="form-inline" id="newNodeForm">
          <div class="form-group">
            <label class="sr-only" for="">
              Title
            </label>
            <input type="text" class="form-control" id="" placeholder="title" />
          </div>
          <div class="form-group">
            <label class="sr-only" for="">
              Content
            </label>
            <input type="text" class="form-control" id="" placeholder="content" />
          </div>
          <div class="form-group">
            <label class="sr-only" for="">
              Type
            </label>
            <input type="text" class="form-control" id="" placeholder="type" />
          </div>
          <button type="submit" class="btn btn-default" id="add">
            <strong>
              +
            </strong>
          </button>
        </form> -->
      </div>
      <div class="col-md-3 searchForm">
        <div class="input-group">
          <input type="text" class="form-control" id="search" placeholder="Search..." />
          <span class="input-group-btn">
            <button class="btn btn-default" id="find" type="button">
              ?
            </button>
          </span>
        </div>
        <div id="error-message">
        </div>
      </div>
    </div>
  </div>

  <% @nodes.each do |node| %>
    <div class="well nodes" id="<%= node.id %>">
      <h3 alt='title' contenteditable='true'>
        <%= node.title %> [<%= node.id %>]
      </h3>
      <p alt='content'>
        <%= node.content %>
      </p>
      <small alt='node_type'>
        type: <%= node.node_type %>
      <!-- <div> -->
        <i class="fa fa-pencil"></i>
        <%= link_to 'Edit',
          edit_node_path(node),
          class: 'edit'
        %>
        <i class="fa fa-trash"></i>
        <%= link_to 'Delete',
          "/node/#{node.id}",
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'delete'
        %>
      <!-- </div> -->
      </small>
      <div>
        <input type="number" placeholder="node id" />
        <button class="btn btn-primary">
          connect
        </button>
        <ul>
          <li>List connected nodes here</li>
        </ul>
      </div>
    </div>
  <% end %>

</div>
