<div class="row">

  <% @nodes.each do |node| %>
    <div class="well nodes" id="node_<%= node.id %>" 
      data-id="<%= node.id %>"
      data-x="<%= node.position_x ? node.position_x : -1 %>" 
      data-y="<%= node.position_y ? node.position_y : -1 %>">
      <p class="node-header" alt='title' contenteditable='false'>
        <span class="node-title"><%= node.title %></span> [<span class="node-id"><%= node.id %></span>]
        <i class="fa fa-pencil"></i>
        <%= link_to 'Edit',
          edit_node_path(node),
          class: 'edit'
        %>
        <i class="fa fa-trash"></i>
        <%= link_to 'Delete',
          "/node/#{node.id}",
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'delete'
        %>
      </p>
      <p class="node-content" alt='content'>
        <%= node.content %>
      </p>
      <small class="node-type" alt='node_type'>
        type: <%= node.node_type %>
      </small>
      <div class="nodes-connected">
        <input type="number" placeholder="node id" />
        <button class="btn btn-primary">
          connect
        </button>
        <ul>
          <li>List connected nodes here</li>
        </ul>
      </div>
    </div>
  <% end %>

</div>
